@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:wght@100&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --corhover: #494949;
    --corbackground: #000000f2;
    --corbackground2: #3F3F3F;
    --corbackground3:#929191dc;
    --corletra: #ffffff;
    --fontletra: Arial, Helvetica, sans-serif;
    --fontletra2: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    background-color: var(--corbackground);
    font-family: var(--fontletra);
}

/*Menu*/
nav {
    width: 215px;
    z-index: 999;
    display: none;
}

nav, a, li{
    text-decoration: none;
    color: var(--corletra);
    list-style: none;
}

.bnt-hamburguer-e-logo{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

.hamburguer{
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.hamburguer:hover{
    background-color: var(--corhover);
    transition: .3s;
}

.imagem-logo > img {
    width: 100px;
    margin-left: 15px;
}

.nav-lista-menu-1{
    border-bottom: solid 2px var(--corbackground2);
    padding: 20px 20px 20px 15px;
}

.nav-lista-menu-2{
    border-bottom: solid 2px var(--corbackground2);
    padding: 20px 20px 20px 15px;
}

.menu-item {
    padding: 12px 0px 12px 10px;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: var(--corhover);
}

.icons-do-menu{
    padding-right: 5px;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bnt-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.bnt-logo > span{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.bnt-logo > span:hover{
    background-color: var(--corhover);
    transition: .3s;
    
}

.bnt-logo > span > i {
    color: var(--corletra);
    font-size: 25px;
}

.bnt-logo > a > img {
    width: 100px;
    margin-left: 15px;
}

.barra-de-pesquisa-e-pesquisa-por-voz > span {
    font-size: 20px;
    color: var(--corletra);
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.barra-de-pesquisa-e-pesquisa-por-voz > span:hover {
    background-color: var(--corbackground2);
    transition: .3s;
}

.enviar-sino-de-notificacoes-e-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enviar-sino-de-notificacoes-e-perfil > .icon {
    font-size: 20px;
    color: var(--corletra);
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.enviar-sino-de-notificacoes-e-perfil > .icon:hover {
    background-color: var(--corbackground2);
    transition: .3s;
}

.perfil {
    font-size: 20px;
    color: var(--corletra);
    padding: 10px;
    cursor: pointer;
}
/*Caixa de perfil*/

.boxPerfil{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #282828;
    color: var(--corletra);
    font-weight: 300;
}

.boxPerfil > div {
    border-bottom: solid 2px var(--corbackground2);
    font-size: 15px;
    padding: auto;
    
}

.itemPerfil > div:hover{
    background-color: var(--corhover);
}

.myPerfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contaGoogleEMudarContaESair > div:hover{
    background-color: var(--corhover);
    transition: .3s;
}
.youtubeStudioEAssinaturas > div:hover{
    background-color: var(--corhover);
    transition: .3s;
}
.dadosTema > div:hover{
    background-color: var(--corhover);
    transition: .3s;
}
.configuracoes > div:hover{
    background-color: var(--corhover);
    transition: .3s;
}
.ajudaEFeedback > div:hover{
    background-color: var(--corhover);
    transition: .3s;
}

.myPerfil > .txt-perfil > h4{
    color: var(--corletra);
}

/*Filtro*/
.filtros{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-family: var(--fontletra2);
    font-weight: 600;
    align-items: center;
    margin: 0px 0px 0px 40px;
    
    transition: .2s;
}

.item-filtro{
    display: block;
    color: var(--corletra);
    background-color: var(--corbackground2);
    border-radius: 7px;
    padding: 5px 12px;
    margin: 15px 15px 15px 0px;
}

.item-filtro:hover {
    background-color: var(--corbackground3);
}

/*Main*/
main{
    width: 100%;
}

/*Fileira de video*/

.fileira-de-video{
    display: none; /**/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 50px 0px;
}
.bloco-do-video{
    width: 470px;
    margin: 10px 0px;
}

.video > a > img{
    width: 100%;
    border-radius: 10px;
}

.conteudo-txt{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.info-do-video > h3{
    color: var(--corletra);
    padding-bottom: 8px;
}

.info-do-video > a, h4 {
    color: var(--corbackground3);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.logo-do-canal > img {
    border-radius: 50px;
    width: 40px;
    margin-right: 10px;
}